.box, .box:focus, .checkbox , .checkbox:focus, .checkbox:checked {
    background-color: var(--water);
    border-color: var(--land);
    color: var(--text-blue);
    font-weight: 600;
    box-shadow:none;
}
